/* pronostico.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, background-image 0.5s;
}

/* Fondo predeterminado */
.default-background {
    background-color: #f0f8ff; /* Color de fondo claro */
}

/* Fondo para lluvia */
.rainy-background {
    background-color: #a1c4fd;
    background-image: url('https://example.com/rainy-background.gif'); /* Cambia la URL a tu animación de lluvia */
    background-size: cover;
}

/* Fondo para otras condiciones */
.sunny-background {
    background-color: #ffeb3b;
}

.cloudy-background {
    background-color: #9e9e9e;
}

.weather-container {
    padding: 20px;
    text-align: center;
}

.weather-info {
    font-size: 1.2em;
    margin: 20px 0;
}

/* Estilo de lista de sugerencias */
.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background-color: white;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: calc(100% - 22px); /* Ajusta el ancho según el padding del input */
    z-index: 1000;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #ddd;
}
